/*************TÍTULO**************/
.col-sm-12 {
    color: white;
    font: 3em Georgia, serif;
    letter-spacing: 2px;
    padding-top: 4em;
    padding-bottom: 3.5em;
}
/*********************************/
/**************CORPO**************/
.container-fluid{
    background-color: white;
    height: auto;
    margin-bottom: 2em;
    padding-bottom: 3em;
}
/**********************************/
/*************ICONES***************/
img {
    height: 50px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.3), 0 6px 40px 0 rgba(0, 0, 0, 0.29);
    border-radius:100px;
}
/**********************************/
/************PARÁGRAFOS************/
.row{
    padding: 1.5em;
}
.row2:hover{
    padding: 2em;
}
p {
    color: black;
    font: 3em Verdana, sans-serif;
    letter-spacing: 1.8px;
    padding-top: 0.5em;
}
a {
    color: black;
    font: 3em Verdana, sans-serif;    
    letter-spacing: 1.5px;
    padding-top: 0.5em;
}
/**********************************/