<div class="row">
  <p class="col-xs-12 col-sm-12" align="center"> 
    {{ 'contact.title' | translate }}
  </p>
</div>
<div class="container-fluid">
  <br><br><br>
  <hr id="idHr" />
  <hr id="idHr" />
  <br><br>
  <div class="row row2">
    <p class="col-xs-0 col-sm-3"></p>
    <div class="col-xs-1 col-sm-1">
        <img src="../../img/gmail-icon.png" alt="Gmail">
        <!--img src="https://firebasestorage.googleapis.com/v0/b/meucurriculum-20460.appspot.com/o/gmail-icon.png?alt=media&token=42a81dbd-7790-4d68-a3e1-a3485fed89ba" alt="Gmail"-->
    </div>
              <p class="col-xs-11 col-sm-3">
                  gab.zer.nas@gmail.com
              </p>
    <p class="col-xs-0 col-sm-5"></p>
  </div>
  <div class="row row2">
    <p class="col-xs-0 col-sm-3"></p>
    <div class="col-xs-2 col-sm-1">
        <img src="../../img/linkedin.png" alt="LinkedIn">
        <!--img src="https://firebasestorage.googleapis.com/v0/b/meucurriculum-20460.appspot.com/o/linkedin.png?alt=media&token=70313965-4501-47f5-a8a5-850aef925721" alt="LinkedIn"-->
    </div>
              <a class="col-xs-10 col-sm-6" href="https://www.linkedin.com/in/gabriel-zerbine-nascimento-49417b85" target="_blank">
                  gabriel-zerbine
              </a>
    <p class="col-xs-0 col-sm-2"></p>
  </div>
  <div class="row row2">
    <p class="col-xs-0 col-sm-3"></p>
    <div class="col-xs-2 col-sm-1">
        <img src="../../img/twitter.png" alt="Twitter">
        <!--img src="https://firebasestorage.googleapis.com/v0/b/meucurriculum-20460.appspot.com/o/twitter.png?alt=media&token=a8bec617-ad1a-4d32-bd36-44f56cc99760" alt="Twitter"-->
    </div>
              <a class="col-xs-10 col-sm-3" href="https://twitter.com/Gabriel_Zerbine" target="_blank">
                  @Gabriel_Zerbine
              </a>
    <p class="col-xs-0 col-sm-5"></p>
  </div>
  <div class="row row2">
    <p class="col-xs-0 col-sm-3"></p>
    <div class="col-xs-2 col-sm-1">
        <img src="../../img/telefone.png" alt="Whatsapp">
        <!--img src="https://firebasestorage.googleapis.com/v0/b/meucurriculum-20460.appspot.com/o/telefone.png?alt=media&token=cdb120a9-9c90-453c-93dc-4eabca0f789b" alt="Whatsapp"-->
    </div>
              <p class="col-xs-10 col-sm-4">
                  +55 (62) 9 8318-2796
              </p>
    <p class="col-xs-0 col-sm-4"></p>
  </div>
  <div class="row row2">
    <p class="col-xs-0 col-sm-3"></p>
    <div class="col-xs-2 col-sm-1">
        <img src="../../img/github.png" alt="GitHub">
        <!--img src="https://firebasestorage.googleapis.com/v0/b/meucurriculum-20460.appspot.com/o/github.png?alt=media&token=6e501085-ca86-4b4d-9cb0-0292c46a157a" alt="GitHub"-->
    </div>
              <a class="col-xs-10 col-sm-4" href="https://github.com/Gabzer/MeuCurriculum" target="_blank">
                  Gabzer
              </a>
    <p class="col-xs-0 col-sm-4"></p>
  </div>
  <br><br>
  <hr id="idHr" />
  <hr id="idHr" />
</div>
