<div class="row">
  <p class="col-sm-12" align="center"> 
    Contatos
  </p>
</div>
<div class="container-fluid">
  <br><br><br>
  <hr id="idHr" />
  <hr id="idHr" />
  <br><br>
  <div class="row row2">
    <p class="col-sm-3"></p>
    <div class="col-sm-1">
        <img src="../../img/gmail-icon.png" alt="Gmail">
    </div>
              <p class="col-sm-3">
                  gab.zer.nas@gmail.com
              </p>
    <p class="col-sm-5"></p>
  </div>
  <div class="row row2">
    <p class="col-sm-3"></p>
    <div class="col-sm-1">
        <img src="../../img/linkedin.png" alt="LinkedIn">
    </div>
              <a class="col-sm-6" href="https://www.linkedin.com/in/gabriel-zerbine-nascimento-49417b85" target="_blank">
                  www.linkedin.com/in/gabriel-zerbine
              </a>
    <p class="col-sm-2"></p>
  </div>
  <div class="row row2">
    <p class="col-sm-3"></p>
    <div class="col-sm-1">
        <img src="../../img/twitter.png" alt="Twitter">
    </div>
              <a class="col-sm-3" href="https://twitter.com/Gabriel_Zerbine" target="_blank">
                  @Gabriel_Zerbine
              </a>
    <p class="col-sm-5"></p>
  </div>
  <div class="row row2">
    <p class="col-sm-3"></p>
    <div class="col-sm-1">
        <img src="../../img/telefone.png" alt="Whatsapp">
    </div>
              <p class="col-sm-4">
                  +55 (62) 9 8318-2796
              </p>
    <p class="col-sm-4"></p>
  </div>
  <div class="row row2">
    <p class="col-sm-3"></p>
    <div class="col-sm-1">
        <img src="../../img/github.png" alt="GitHub">
    </div>
              <a class="col-sm-4" href="https://github.com/Gabzer/MeuCurriculum" target="_blank">
                  Gabzer
              </a>
    <p class="col-sm-4"></p>
  </div>
  <br><br>
  <hr id="idHr" />
  <hr id="idHr" />
</div>
