<div id="up" class="row">
  <p class="col-xs-12 col-sm-12" align="center"> 
      {{ 'cv.title1' | translate}}
  </p>
</div>
<div align="justify" class="container-fluid">
  <br>
  <hr />
  <ul class="circle">
    <li>{{ 'cv.content1_1' | translate}}
    </li>
  </ul>
  <hr />
  <ul class="circle">
    <li>{{ 'cv.content1_2' | translate}}
    </li>
  </ul>
  <hr />
  <ul class="circle">
    <li>{{ 'cv.content1_3' | translate}}
    </li>
  </ul>
  <hr />
  <hr />
  <br><br>
</div>

<!-- ####################################################################################### -->
<div class="row">
  <p class="col-xs-12 col-sm-12" align="center"> 
      {{ 'cv.title2' | translate}}
  </p>
</div>
<div align="justify" class="container-fluid">
  <br>
  <hr />
  <ul class="circle">
    <li>{{ 'cv.content2_1' | translate}}
    </li>
  </ul>
  <hr />
  <ul class="circle">
    <li>{{ 'cv.content2_2' | translate}}
    </li>
  </ul>
  <hr />
  <ul class="circle">
    <li>{{ 'cv.content2_3' | translate}}
    </li>
  </ul>
  <hr />
  <hr />
  <br><br>
</div>

<!-- ####################################################################################### -->
<div class="row">
  <p class="col-xs-12 col-sm-12" align="center"> 
      {{ 'cv.title3' | translate}}
  </p>
</div>
<div align="justify" class="container-fluid">
  <br>
  <hr />
  <ul class="circle">
    <li>{{ 'cv.content3_1' | translate}}
    </li>
  </ul>
  <hr />
  <ul class="circle">
    <li>{{ 'cv.content3_2' | translate}}
    </li>
  </ul>
  <hr />
  <ul class="circle">
    <li>{{ 'cv.content3_3' | translate}}
    </li>
  </ul>
  <hr />
  <hr />
  <br><br>
</div>

<!-- ####################################################################################### -->
<div class="row">
  <p class="col-xs-12 col-sm-12" align="center"> 
      {{ 'cv.title4' | translate}}
  </p>
</div>
<div align="justify" class="container-fluid">
  <br>
  <hr />
  <ul class="circle">
    <li>{{ 'cv.content4_1' | translate}}
    </li>
  </ul>
  <hr />
  <ul class="circle">
    <li>{{ 'cv.content4_2' | translate}}
    </li>
  </ul>
  <hr />
  <ul class="circle">
    <li>{{ 'cv.content4_3' | translate}}
    </li>
  </ul>
  <hr />
  <hr />
  <br><br>
</div>

<!-- ####################################################################################### -->
<div class="row">
  <p class="col-xs-12 col-sm-12" align="center"> 
      {{ 'cv.title5' | translate}}
  </p>
</div>
<div align="justify" class="container-fluid projetos">
  <br>
  <hr />
  <ul class="circle">
    <li>{{ 'cv.content5' | translate}}
    </li>
  </ul>
  <hr />
  <hr />
  <br><br>
</div>
<!--div>
  <a id="aUp" href="/#up"></a>
</div--> 