/*************TÍTULO**************/
.col-sm-12 {
    color: white;
    font: 3em Georgia, serif;
    letter-spacing: 2px;
    padding-top: 2.5em;
    padding-bottom: 2em;
}
/*********************************/
/**************CORPO**************/
.container-fluid {
    background-color: white;
    height: auto;
}
.projetos {
    height: auto;
    margin-bottom: 2em;
}
.container{
    background-color: #3A4250;
    height: auto;
    left: auto;
    right: auto;
    margin-bottom: 40em;
    padding: 0em;
    left: 6.5em;
}
/**********************************/
/***************LISTA**************/
ul.circle {
	list-style-type: circle;
    font-size: 3.3em;
}
ul {
    line-height: 10px;
}
li {
    font: 0.8em Verdana, sans-serif;
    line-height: 30px;
}
hr {
    margin: 2em;
}
#mob1 {
    font-size: 2.8em;
}
/**********************************/
/***************SUBIR**************/
/*#aUp {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.45), 0 6px 40px 0 rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    background-color: #3A4250;
    color: #ffffff; 
    position: fixed;
    bottom: 5em;
    right: 15em;
    height: 10em;
    width: 10em;
}*/
/**********************************/
/***************MENU***************/
nav.nav-pills {
    font-size: 20px;
    position: fixed;
    z-index: 1;
    background-color: #3A4250;
    color: white;
    left: 0.2em;
    padding: 0.8em 0em 1em 0em;
}
nav.nav-pills a {
    color: white;
    font-weight: bold;
    padding: 1.2em 1.1em 1.2em 0.9em;
}
nav.nav-pills a:hover {
    background-color: #3A4250;
    text-shadow: 2px 2px 4px #000000;
}
.affix {
    top: 206px;
}
.active a {
    color: #8D5EC7 !important;
    text-shadow: 2px 2px 4px #000000;
}
/**********************************/