/*******************************/
/***********CABEÇALHO***********/
.jumbotron{
    background-color: #8D5EC7;
    height: 36em;
}
/*******************************/
/**************FOTO*************/
#divCabecalho1{
    left: 55em;
}
.img-circle{
    height: 20em;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
}
/*******************************/
/************TITULO*************/
#divCol-sm-4{
    top: 4.5em;
    left: 9em;
}
#divCabecalho2{
    color: white;
    font: bold 12px Georgia, serif;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 2em;
    margin-left: -6em; 
}
#divCabecalho2 h2{
    font-size: 40px;
    letter-spacing: 5px;
}
#h4_title{
    position: relative;
    left: 2.3em;
    letter-spacing: 5px;
}
/*******************************/
/*************NAVBAR************/
.navbar{
    position: relative;
    top: -1.5em;
    height: 3em;
    font-size: 4em;
    background-color: #3A4250;
    border-color: #3A4250;
}
#ul1 li{
    font-size: 0.8em;
    top: 0.2em;
}
#ul1 li a{
    color: white;
}
#ul1 li a:hover{
    background-color: #3A4250; 
    color: #8D5EC7;
    text-shadow: 2px 2px 4px #000000;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #3A4250;
}
/*******************************/
/*************CORPO*************/
.container{
    background-color: #3A4250;
    width: 150em;
    height: auto;
    left: auto;
    right: auto;
    margin-bottom: 40em;
    padding: 0em;
}
/*******************************/


