<div id="idCorpo" style="background-color: #F1F4F5">
  <div class="jumbotron">
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-2">
            <img class="img-circle" src="../GAb.jpg" alt="Minha foto">
          </div>
          <div class="col-sm-5">
            <div id="divCabecalho2">
              <h2>Gabriel Zerbine</h2>
              <h4 id="h4_title">Gestor de TI & Developer</h4>
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
  </div>
  <nav class="navbar navbar-inverse">
      <ul id="ul1" class="nav">
        <li class="col-sm-3"></li>
        <li class="col-sm-2"><a routerLink="">Home</a></li>
        <li class="col-sm-3"><a routerLink="/curriculum">Curriculum Vitae</a></li>
        <li class="col-sm-2"><a routerLink="/contato">Contato</a></li>
        <li class="col-sm-2"></li>
      </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>  
  </div>
</div>
<div class="bandeiras">
  <a href=""><img id="img1" src="../img/br.svg" alt="Brasil"></a>
  <a href=""><img id="img2" src="../img/us.svg" alt="USA"></a>
  <a href=""><img id="img3" src="../img/fr.svg" alt="Fraça"></a>
</div>