<!-- MENU MOBILE -->
<nav class="navbar navbar-inverse navbar-fixed-top hidden-md-up">
  <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
        <ul class="nav navbar-nav">
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/curriculum">Curriculum Vitae</a></li>
          <li><a routerLink="/contato">Contato</a></li>
        </ul>
      </div>
  </div>
</nav>
<!-- INTERNACIONALIZAÇÃO -->
<!--div>
  <div class="col-sm-9"></div>
  <div class="col-sm-3">
    <button onclick="i18next.changeLanguage('en')" id="btn">
      <img src="../img/United-States.png" alt="English">
    </button>
    <button onclick="i18next.changeLanguage('pt')" id="btn">
      <img src="../img/Brazil.png" alt="Portuguese">
    </button>
    <button onclick="i18next.changeLanguage('fr')" id="btn">
      <img src="../img/France.png" alt="Franch">
    </button>
  </div>
</div-->
<!-- CABEÇALHO -->
<div style="background-color: #F1F4F5">
  <div class="jumbotron">
    <div class="row">
        <div class="col-sm-3"></div>
        <div id="divFoto" class="col-sm-2">
            <img class="img-circle" src="../GAb.jpg" alt="Minha foto">
            <!--img class="img-circle" src="https://firebasestorage.googleapis.com/v0/b/meucurriculum-20460.appspot.com/o/GAb.JPG?alt=media&token=b56bbbef-7873-4cca-8c88-58e91a3a83c7" alt="Minha foto"-->
        </div>
        <div class="col-sm-5">
            <div id="divCabecalho2">
                <h2>Gabriel Zerbine</h2>
                <h4 id="h4_title">Gestor de TI & Developer</h4>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
  </div>
  <!-- MENU WEB -->
  <nav class="navbar navbar-inverse hidden-sm-down navbar2">
      <ul id="ul1" class="nav">
        <li class="col-sm-3"></li>
        <li class="col-sm-2"><a routerLink="">Home</a></li>
        <li class="col-sm-3"><a routerLink="/curriculum">Curriculum Vitae</a></li>
        <li class="col-sm-2"><a routerLink="/contato">Contato</a></li>
        <li class="col-sm-2"></li>
      </ul>
  </nav>
  <!-- CONTEÚDO -->
  <div class="container">
    <router-outlet></router-outlet>  
  </div>
</div>