p {
    color: white;
    font: 3em Georgia, serif;
    letter-spacing: 4px;
    line-height: 30px;
    margin: 1em 5em 1em 6em;
}
#p2 {
    color: black;
    font: 3em Georgia, sans-serif; 
    letter-spacing: 1.8px;
    line-height: 50px;
    margin: 5em 5em 3em 6em;
}
/*******************************/
/*************CORPO*************/
.container-fluid{
    background-color: white;
    height: auto;
    padding-bottom: 2em;
    margin-bottom: 2em;
    text-align: justify;
}
.container{
    background-color: #3A4250;
    height: auto;
    left: auto;
    right: auto;
    margin-bottom: 40em;
    padding: 0em;
}
/*******************************/
h1 {
    position: relative;
    top: 1.5em;
    letter-spacing: 1.8px;
}
#idHr {
    position: relative;
    top: 9em;
}
/*******************************/

@media only screen and (max-width: 768px) {
    #p2 {
        letter-spacing: 0px;
    }
    .container-fluid{
        text-align: center;
    }
}